@import '~styles/partials/colors';
@import '~styles/partials/variables';
@import '~styles/partials/buttons';

.landing-section.token-ico-preview{
    .ventures-coin-graph{
        width: 300px;
        height: 300px;
        margin: auto;
        @media(max-width: map-get($grid-breakpoints, sm)){
            transform: scale(0.8);
            transition: .2s all ease-in-out;
        }
    }

    .countdown-clock{
        display: block;
        margin: 30px auto;
        @media(max-width: map-get($grid-breakpoints, sm)){
            padding: 10px 0px;
            margin: 20px auto;
        }
        .timer-display{
            span {
                display: inline-block;
                font-size: 2.5rem;
                border-radius: 0.5rem;
                color: rgba($black, 0.4);
                border: 3px solid rgba($black, 0.15);
                padding: 15px;
                margin: 5px;
                width: 120px;
                &:hover{
                    color: rgba($black, 0.5);
                }
                @media(max-width: map-get($grid-breakpoints, sm)){
                    width: 80px;
                    text-align: center;
                    font-size: 1.8rem;
                    padding: 10px;
                }
            }
        }
        .address-display{
            span {
                display: block;
                font-size: 2.5rem;
                border-radius: 0.5rem;
                color: rgba($black, 0.4);
                border: 3px solid rgba($black, 0.15);
                padding: 15px;
                margin: 5px;
                width: 80%;
                margin: auto;
                &:hover{
                    color: rgba($black, 0.5);
                }
                @media(max-width: map-get($grid-breakpoints, sm)){
                    width: 80%;
                    text-align: center;
                    font-size: 1.8rem;
                    padding: 10px;
                    margin: auto;
                }
            }
        }
    }

    .title.presale{
        margin: 50px auto 20px;
        font-weight: 500;
        font-size: 1.4rem;
    }

    .signup {
      margin: 0 0 24px;
      text-transform: uppercase;
      height: 48px;
    }

    @media(max-width: map-get($grid-breakpoints, sm)){
        .container.center .title-container.center{
            text-align: center;
        }
    }
}
