@import '~styles/partials/colors';
@import '~styles/partials/variables';
@import '~styles/partials/buttons';

.landing-section.advisor-details{
  .team-members{
    .name{
      font-size: 1.3rem;
    }
    .profile {
      width: 100%;
      max-width: 300px;
      @media(max-width: map-get($grid-breakpoints, sm)){
        width: 50%;
        max-width: 200px;
      }
    }
    .social {
      text-align: center;
      @media(max-width: map-get($grid-breakpoints, sm)){
        margin: 20px auto;
      }
      span.item{
        color: rgba($black, 0.6);
        margin: 5px;
        display: inline-flex;
        background: $background-secondary;
        padding: 8px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50px;
        opacity: 1;
        box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
        &:hover{
          box-shadow: 0px 1px 7px rgba(0,0,0,0.08);
        }
        i{
          font-size: 1.3rem;
        }
      }
    }
  }
  @media(max-width: map-get($grid-breakpoints, sm)){

  }
}
