@import '~styles/partials/colors';
@import '~styles/partials/variables';
@import '~styles/partials/buttons';

.landing-section.whitepaper-details{
    padding-top: 30px;

    .hightlight-container{
        padding: 120px 10px 0px ;
        background-image: linear-gradient(0deg, #00AAFF 0%, #14E9FE 100%);
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 0px 2px 50px 2px rgba(0,0,0,0.2);
        position: relative;
        z-index: 50;
        @media(max-width: map-get($grid-breakpoints, sm)){
            padding: 40px 30px;
            border-radius: 0.5rem;
        }

        button.action{
          position: relative;
          margin: 40px auto 120px;
          z-index: 50;
          padding-right: 60px;
          padding-left: 60px;
          transition: .15s all ease-in-out;

          @media(max-width: map-get($grid-breakpoints, sm)){
            margin: 40px auto 90px;
            width: 100%;
          }
        }
        .title-container{
          position: relative;
          z-index: 50;
          max-width: 425px;
        }
    }
    svg.background-symbols{
        position: absolute;
        width: 110%;
        height: 100%;
        bottom: -15%;
        right: -5%;
        left: -5%;
        margin: 0px auto;
        z-index: 45;
        transform: translate(0px, 50px);
        @media(max-width: map-get($grid-breakpoints, sm)){
            width: 200%;
            transform: translate(-40%, 50px);
        }
    }

    @media(max-width: map-get($grid-breakpoints, sm)){
        padding-top: 10px;
    }
}