$background-primary:    #ffffff;
$background-secondary:  #f7fbfb;
$background-accent:     #0af;

$text-primary :         #000000;
$text-secondary :       #cccccc;

$border-primary:        #e9e9e9;
$white:                 #ffffff;
$black:                 #000000;
$grey:                  #7b7b7b;

$primary-color:         #0af;
$light-blue:            #00D0FF;
$button-primary:        #33e495;
