@import 'variables';

// this file will define all containers

.container {
    position: relative;
    margin: 0px auto;
    width: 100%;
    padding: 15px;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    max-width: 960px;
    clear: both;

    &:after {
        content: '';
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    &.centered, &.center{
        text-align: center;
    }
    @media (max-width: map-get($grid-breakpoints, sm)){
        padding: 20px;
    }
}

.container, .container-fluid{
    div.row{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        div.col{
            align-self: stretch;
            display: inline-block;

            &:first-child{
                margin-left: 0px;
            }
            &:last-child{
                margin-right: 0px;
            }
            &.single{
                margin-left: auto;
                margin-right: auto;
            }
        }
        @media (max-width: map-get($grid-breakpoints, sm)){
            // default to break for sm
            flex-direction: column;
            div.col{
                width: 100%;
                margin-left: 0px;
                margin-right: 0px;
            }
        }

        &.md{
            @media (max-width: map-get($grid-breakpoints, md)){
                flex-direction: column;
                div.col{
                    width: 100%;
                    margin-left: 0px;
                    margin-right: 0px;
                }
            }
        }
    }
}


.container-fluid {
    @extend .container;
    max-width: 99%;
}

