@import '~styles/partials/colors';
@import '~styles/partials/variables';
@import '~styles/partials/buttons';

.hero-logo{
    position: relative;
    height: calc(100vh - 70px);
    width: 100%;
    overflow: hidden;
    text-align: center;

    .logo-background{
        position: absolute;
        width: 180%;
        top: -500px;
        right: -40%;
        left: -40%;
    }
    // @media(min-width: map-get($grid-breakpoints, md)){
    //     .logo-background{
    //         width: 130%;
    //         top: -40%;
    //         right: -15%;
    //         left: -15%;
    //     }
    // }
    // @media(min-width: map-get($grid-breakpoints, sm)){
    //     .logo-background{
    //         width: 160%;
    //         top: -80%;
    //         right: -30%;
    //         left: -30%;
    //     }
    // }
    @media(max-width: map-get($grid-breakpoints, sm)){
        .logo-background{
            margin: auto;
            width: 150px;
            bottom: -200px;
        }
    }

}
