@import '~styles/partials/colors';
@import '~styles/partials/variables';
@import '~styles/partials/buttons';

.newslist-logo-container {
  background: $white;
  
  .newsLogo.col{
    padding: 10px;
    img{
      height: 50px;
      margin: auto;

      @media(max-width: map-get($grid-breakpoints, sm)){
        height: auto;
        width: 40%;
        margin: 15px 10px;
      }
    }
  }

}